head {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: red;
  padding: 8px 18px;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 24px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.search_bar {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
}

.search_bar input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search_bar input[type="text"]:focus {
  outline: none;
  border: none;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 1px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

.hero {
  background-image: url(../img/Group\ 196.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 150px 0;
  height: 90%;
}

.hero-content {
  font-size: 30px;
  grid-template-columns: auto auto;
  display: flex;
  margin: 100px 500px 1px 500px;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 74px;
}
.left-content h2 {
  color: black;
  font-size: 35px;
  text-align: center;
  margin: 1rem;
  padding: 2rem;
  border-radius: 23px;
  background-color: rgb(230, 67, 67);
}
.left-content a:hover {
  background-color: rgb(230, 67, 67);
  color: rgb(255, 255, 255);
}
.left-content a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.ms {
  font-size: 20px;
}

.col-3 button {
  background-color: rgb(255, 0, 0);
  border: black;
  font-size: 20px;
  padding: 12px;
  border-radius: 25px;
  width: 160px;
  height: 54px;
}
.col-3 button a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.col-3 button:hover {
  background-color: azure;
  padding: 12px;
  border-radius: 25px;
}
.footer {
  background-color: gray;
  margin-top: 100;
  width: 100%;
  padding: 40px 0;
  color: white;
  display: flex;
}

.footer div {
  text-align: left;
  display: grid;
}

.footer div h4 {
  font-size: 30px;
  margin-bottom: 1px;
  letter-spacing: 1px;
  margin-top: 0px;
}
.col-1 {
  display: block;
  text-decoration: none;
  flex-grow: 3;
  padding: 8px;
  margin-left: 50px;
}

.col-2 {
  display: block;
  text-decoration: none;
  flex-grow: 1;
}
.col-2 a {
  display: block;
  text-decoration: none;
  margin-bottom: 13px;
  color: white;
}

.col-3 {
  display: block;
  text-decoration: none;
  padding: 8px;
  margin-right: 50px;
}
.col-3 p {
  padding: 0;
  margin: 0;
}
h4 {
  color: white;
  font-size: 45px;
}
h5 {
  font-size: 26px;
}

.page-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
}

.left-content {
  text-align: left;
}

.right-content {
  border: solid red 1px;
}

.right-content-header {
  padding: 24px 24px 24px 36px;
  background-color: red;
  text-align: left;
}

.right-content-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.white-text {
  color: white;
}

.right-content-item {
  width: 400px;
  padding: 30px;
  padding-right: 23px px;
  margin: 1px;
}

.right-content-item li {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: left;
  padding-left: 79px;
  font-size: 23px;
}
.right-content-item img {
  width: 25rem;
  height: 15rem;
  border-radius: 34px;
  object-fit: cover;
  position: cover;
  padding-left: 84px;
  border-right: solid rgb(34, 34, 34);
}

p {
  font-size: 20px;
}
