head {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: red;
  padding: 8px 18px;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 24px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}
.search_bar {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
}

.search_bar input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search_bar input[type="text"]:focus {
  outline: none;
  border: none;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 1px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

.hero {
  background-image: url(../img/Group\ 196.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 120px 0;
  height: 90%;
}

.hero-content p {
  font-size: 25px;
  color: white;
  padding-top: 2px;
  display: flex;
  text-align: left;
  padding-left: 23px;
}
.hero-content iframe {
  height: 400px;
  width: 515px;
  margin: 2px;
  display: flex;

  border-radius: 25px;
}
.hero-content {
  font-size: 25px;
  grid-template-columns: auto auto;

  display: flex;
  margin: 100px 200px 1px 300px;
  justify-content: center;
}

.grid-container {
  display: grid;
  max-width: 1500px;
  margin: 0 auto;
  border: 1px solid rgb(210, 208, 208);

  background-color: rgb(236, 252, 252);
  padding: 15px 0 0 10px;
  grid-template-columns: 1fr 2fr;
}

.grid-item {
  display: grid;
  padding: 0 60px 0 60px;
  border: 12px;
  text-align: left;
}
.grid-item a {
  color: black;
  text-decoration: none;
}
.grid-item a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 35px;
}
.grid-item img {
  width: 80rem;
  height: 500px;
  border-radius: 25px;
  border-image: 23px;
}

h1 {
  color: white;
}
h2 {
  color: black;
  font-size: 26px;
}
h3 {
  color: red;
  font-size: 25px;
}

.ms {
  font-size: 20px;
}
.p-l-24 {
  padding-left: 24px;
  color: black;
}
.background-img {
  width: 102%;
  height: 130px;
  background-size: cover;
  background-image: url(../img/threepeople.jpg);
  object-fit: cover;
  background-position: center;
  border-radius: 35px;
  background-color: rgba(235, 49, 49);
}
.col-3 button {
  background-color: rgb(255, 0, 0);
  border: black;
  font-size: 20px;
  padding: 12px;
  border-radius: 25px;
  width: 160px;
  height: 54px;
}
.col-3 button a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.col-3 button:hover {
  background-color: azure;
  padding: 12px;
  border-radius: 25px;
}
.footer {
  background-color: gray;
  margin-top: 100;
  width: 100%;
  padding: 40px 0;
  color: white;
  display: flex;
}

.footer div {
  text-align: left;
  display: grid;
}

.footer div h4 {
  font-size: 30px;
  margin-bottom: 1px;
  letter-spacing: 1px;
  margin-top: 0px;
}
.col-1 {
  display: block;
  text-decoration: none;
  flex-grow: 3;
  padding: 8px;
  margin-left: 50px;
}

.col-2 {
  display: block;
  text-decoration: none;
  flex-grow: 1;
}
.col-2 a {
  display: block;
  text-decoration: none;
  margin-bottom: 13px;
  color: white;
}

.col-3 {
  display: block;
  text-decoration: none;
  padding: 8px;
  margin-right: 50px;
}
.col-3 p {
  padding: 0;
  margin: 0;
}
h4 {
  color: white;
  font-size: 45px;
}
